@import url(
"https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
input {
    border: 3px solid rgb(255, 198, 207);
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: #ffd7de;
    outline: none;
    color: #FF7990;
    transition: ease-in-out 0.1s;
    text-align: center;
    font-size: 1.25rem;
}

input:focus {
    border: 3px solid rgb(207, 157, 165);
}

* {
    font-family: "Roboto Condensed", sans-serif;
}