@import url(
"https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.autocomplete-container {
  position: relative;
  display: inline-block;
  background-color: #ffd7de;
  border-radius: 30px;
}

.suggestion-input,
.main-input {
  border: 3px solid rgb(255, 198, 207);
  width: 300px;
  height: 50px;
  border-radius: 30px;
  outline: none;
  transition: ease-in-out 0.1s;
  text-align: left;
  padding-left: 20px;
  font-size: 1.25rem;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  padding-right: 20px;
  margin: 0;
}

.suggestion-input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  color: rgba(255, 121, 144, 0.5);
  pointer-events: none;
  z-index: 1;
  border-color: transparent;
}

.main-input {
  position: relative;
  background: transparent;
  color: #FF7990;
  z-index: 2;
}

.main-input:focus {
  border: 3px solid rgb(207, 157, 165);
}

.main-input::placeholder {
  color: rgba(255, 121, 144, 0.6);
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 500px){
  .suggestion-input,
  .main-input {
    width: 150px;
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}