<input type="text" list="places" [(ngModel)]="location" (keyup.enter)="onPlaceInput(location)" placeholder="Enter here">
<datalist id="places">
    <option value="Laval">Laval</option>
    <option value="Montréal">Montréal</option>
    <option value="Toronto">Toronto</option>
    <option value="Vancouver">Vancouver</option>
    <option value="Ottawa">Ottawa</option>
    <option value="Calgary">Calgary</option>
    <option value="Winnipeg">Winnipeg</option>
    <option value="Québec">Québec</option>
    <option value="Edmonton">Edmonton</option>
</datalist>