.hourly-forecast {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    flex-direction: row;
    width: 610px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.hour {
    display: flex;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    scroll-snap-align: start;
}

img {
    height: auto;
    width: 40px;
}

.hourly-forecast::-webkit-scrollbar {
  display: none;
}