@import url(
"https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    text-align: center;
}
.container {
    height: 100vh;
    width: 100vw;
    justify-items: center;
}

.container-info {
    position: relative;
    background-image: linear-gradient(to right top, #ff9bdd, #f690ac, #dd8b87, #be8871, #9d8367);
    width: 35%;
    height: 80%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid pink;
    border-radius: 50px;
}

.gif-middle {
    height: 450px;
    width: 450px;
    opacity: 1;
}

.city-selected {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.done-fading {
    display: none;
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    transition: transform 0.1s ease-in-out;
}

.name {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.weather-app-label {
    font-size: 30px;
    margin-bottom: 25px;
}

.welcome:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.isActive {
    margin-top: 25px;
}

.current-temp-info {
    margin-top: 50px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.current-temp {
    font-size: 80px;
}

.current-temp-img {
    display: flex;
    justify-content: center;
}

.location-name {
    font-size: 45px;
}

.current-condition {
    font-size: 25px;
}

app-search-bar {
    margin-top: 25px;
    opacity: 1;
}

.info-wind-feel {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info-case {
  height: 150px;
  width: 200px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.18);
}

.container-wind-label {
    display: flex;
    align-items:center;
    justify-content: center;
}

.wind img {
    height: 50px;
    width: auto;
}

.wind-info {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}