@import url(
"https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    text-align: center;
}
.container {
    height: 100vh;
    width: 100vw;
    justify-items: center;
    background-image: linear-gradient(to right top, #4d46ff, #1d47db, #0043b5, #003b8e, #0a3267, #073167, #033167, #003067, #00378e, #003cb5, #003ddb, #0038ff);
}

.container-info {
    position: relative;
    width: 672px;
    height: 900px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid pink;
    border-radius: 50px;
}

.city-selected {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.done-fading {
    display: none;
}

.announcement {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.reminders {
    position: absolute;
    top: 40%;
}

.welcome-message {
    position: absolute;
    top: 25%;
}

.max-low-temp {
    display: flex;
    flex-direction: column;
}

.question {
    position: absolute;
    top: 70%;
}

.welcome {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
  transition: transform 0.2s ease-in-out;
}

#search-icon {
  transition: transform 0.2s ease-in-out;
}

.welcome:hover,
#search-icon:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.welcome:hover:active,
#search-icon:hover:active,
#search-icon.active{
  transform: scale(1.02) translateY(3px);
}

.name {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.weather-app-label {
    font-size: 25px;
    margin-bottom: 25px;
}

.isActive {
    margin-top: 25px;
}

.search {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.search img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
    align-self: center;
}

.current-temp-info {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    width: 610px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.current-temp {
    font-size: 80px;
}

.current-temp-img {
    display: flex;
    justify-content: center;
}

.location-name {
    font-size: 45px;
}

.current-condition {
    font-size: 25px;
}

app-search-bar {
    margin-top: 25px;
    opacity: 1;
}

.city-not-selected {
    position: absolute;
    top: 75%;
    left: 25%;
    margin-top: 25px;
}

.info-wind-feel {
    margin-top: 25px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info-case {
    height: 100%;
    width: 300px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.05);
}

.container-wind-label {
    display: flex;
    align-items:center;
    justify-content: center;
}

.info-case img {
    height: 50px;
    width: auto;
}

.wind-info {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    border-bottom-style:groove;
}

.feel-like-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.week-prediction {
    margin-top: 25px;
    width: 610px;
    border-radius: 30px;
    align-self: center;
}

.day {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.day img {
    height: 40px;
    width: auto;
    align-self: center;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: rgb(240, 7, 104);
  --mdc-linear-progress-track-color: lightgray;
}
.custom-progress {
  width: 150px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.predictions {
    margin-top: 25px;
    overflow-y: auto;
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px;
    user-select: none;
    pointer-events: auto;
    cursor: default;
}

.predictions::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 500px) and (orientation: portrait){
    .container-info {
        width: 100%;
        height: 100%;
    }

    .announcement {
        width: 300px;
    }

    .welcome {
        height: 75px;
        width: 75px;
    }

    .reminders {
        top: 32%;
    }

    .welcome-message {
        top: 12%;
    }

    .current-temp-info {
        width: 90%;
    }

    .predictions {
        width: 90%;
    }

    .custom-progress {
        width: 45px;
    }

    .week-prediction {
        width: 100%;
    }

    .container-info {
        border: 0px solid pink;
    }
    .city-not-selected {
        position: absolute;
        top: 75%;
        left: 25%;
        margin-top: 40px;
    }
    
}

@media only screen and (max-height: 700px) and (orientation: landscape){
    .container-info {
        width: 100%;
        height: 100%;
    }

    .announcement {
        width: 150px;
    }

    .welcome {
        height: 75px;
        width: 75px;
    }

    .reminders {
        top: 10%;
        left: 10%;
        height: 55%;
    }

    .weather-app-label {
        font-size: 20px;
    }

    .welcome-message {
        top: 10%;
        left: 40%;
        height: 55%;
    }

    .question {
        top: 10%;
        left: 70%;
        height: 55%;
    }

    .question * {
        font-size: 32px;
    }

    .current-temp-info {
        width: 90%;
        height: 40%;
        flex-direction: row;
    }

    .current-temp-img {
        position: absolute;
        top: 40%;
    }

    .current-temp-img img {
        height: 75px;
    }

    .current-temp {
        font-size: 50px;
    }

    .max-low-temp {
        position: absolute;
        top: 55%;
        left: 10%;
    }

    .predictions {
        width: 65%;
    }

    .container-info {
        border: 0px solid pink;
    }

    .city-not-selected {
        position: absolute;
        top: 55%;
        left: 33%;
        margin-top: 40px;
    }

    .info-case {
        width: 250px;
    }
}