<div class="container">
    <div class="container-info"  [ngStyle]="{'background-image': nextBackground, 'background-size': 'cover',
       'background-position': 'center'}">
        <img src="./assets/helloKittyHomeButton.png" oncontextmenu="return false;" draggable="false"
         class="welcome" (click)="onDebouncedClick()">
        <label class="name">for doan</label>
        @if (!this.fadingDoneGif) {
            <div class="announcement welcome-message" [ngClass]="{'city-selected' : this.info, 'done-fading' : this.fadingDoneGif}">
                <h1>Welcome Doan to your weather app !</h1>
            </div>
            <div class="announcement reminders" [ngClass]="{'city-selected' : this.info, 'done-fading' : this.fadingDoneGif}">
                <h1>Reminders</h1>
                <p class="weather-app-label">Drink water in this heat</p>
                <p class="weather-app-label">You are my cutie</p>
                <p class="weather-app-label">Eat and sleep well</p>
            </div>
            <div class="announcement question" [ngClass]="{'city-selected' : this.info, 'done-fading' : this.fadingDoneGif}">
                <h3>Where shall we check the weather today? 🌤️</h3>
            </div>
        }
        <div>
            <div class="search" [ngClass]="{'city-not-selected' : !this.info}">
                <app-search-bar (placeChange)="getInfoWeather($event)" [ngClass]="{'isActive' : this.fadingDoneGif}"></app-search-bar>
                <img src="./assets/searchIcon.png" (click)="searchWithIcon()" draggable="false" class="search-icon">
            </div>
        </div>

        @if (this.fadingDoneGif) {
            <div class="current-temp-info" [ngClass]="{'city-selected' : this.fadingDoneReset}">
                <label class="location-name">{{this.info.name}}</label>
                <div class="current-temp-img">
                    <label class="current-temp">{{this.currentTemp + "°"}}</label>
                    <img src="https://openweathermap.org/img/wn/{{ this.info.weather[0].icon }}@2x.png" draggable="false">
                </div>
                <label class="current-condition">{{this.currentTempCondition}}</label>
                <label class="current-condition">↑ {{this.todayMaxTemp}}° ↓ {{this.todayMinTemp}}°</label>
                <div class="info-wind-feel">
                    <div class="info-case wind">
                        <div class="container-wind-label">
                            <img src="./assets/windIcon.png" draggable="false">
                            <label>Wind</label>
                        </div>
                        <div class="wind-info">
                            <label>Speed</label>
                            <label>{{this.info.wind.speed}} meter/s</label>
                        </div>
                        <div class="wind-info">
                            <label>Direction</label>
                            <label>{{this.info.wind.deg}}°</label>
                        </div>
                        <div class="wind-info">
                            <label>Gust</label>
                            <label>{{this.info.wind.gust ?? 0}} meter/s</label>
                        </div>
                    </div>
    
                    <div class="info-case">
                        <div class="container-wind-label">
                            <img src="./assets/thermometer.png" draggable="false">
                            <label>Feel temperature</label>
                        </div>
                        <div class="feel-like-info">
                            <label>{{this.currentFeelsLike}}°</label>
                            <label>{{this.currentFeelText}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="predictions" [ngClass]="{'city-selected' : this.fadingDoneReset}">
                <app-forecast-hours [listForecast]="dayForecastHours"></app-forecast-hours>
                <div class="week-prediction">
                    <label>Prediction for the next 7 days</label>
                    @for(day of this.next7Days; track $index) {
                        <div class="day">
                            <div class="left-side">
                                @if($index === 0) {
                                    <label>Today</label>
                                } @else {
                                    <label>{{day}}</label>
                                }
                                <img src="https://openweathermap.org/img/wn/{{ this.listTemp7Days[$index].weather[0].icon }}@2x.png" draggable="false">
                            </div>
                            <div class="right-side">
                                <label>{{+this.listTemp7Days[$index].temp.min | number:'1.0-0'}}°</label>
                                <mat-progress-bar mode="determinate"
                                [value]="(((this.listTemp7Days[$index].temp.day) + (this.listTemp7Days[$index].temp.night))/2 * 100) / this.listTemp7Days[$index].temp.max" 
                                class="custom-progress"></mat-progress-bar>
                                <label>{{+this.listTemp7Days[$index].temp.max | number:'1.0-0'}}°</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>