@import url(
"https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    text-align: center;
}
.container {
    height: 100vh;
    width: 100vw;
    justify-items: center;
}

.container-info {
    position: relative;
    background-image: linear-gradient(to right top, #ff9bdd, #f690ac, #dd8b87, #be8871, #9d8367);
    width: 35%;
    height: 95%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid pink;
    border-radius: 50px;
}

.gif-middle {
    height: 450px;
    width: 450px;
    opacity: 1;
}

.city-selected {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.done-fading {
    display: none;
}

.announcement {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.reminders {
    position: absolute;
    top: 40%;
}

.welcome-message {
    position: absolute;
    top: 25%;
}

.question {
    position: absolute;
    top: 70%;
}

.welcome {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    transition: transform 0.1s ease-in-out;
}

.name {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.weather-app-label {
    font-size: 25px;
    margin-bottom: 25px;
}

.welcome:hover, .search img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.isActive {
    margin-top: 25px;
}

.search {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.search img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
    align-self: center;
}

.current-temp-info {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    width: 610px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.current-temp {
    font-size: 80px;
}

.current-temp-img {
    display: flex;
    justify-content: center;
}

.location-name {
    font-size: 45px;
}

.current-condition {
    font-size: 25px;
}

app-search-bar {
    margin-top: 25px;
    opacity: 1;
}

.city-not-selected {
    position: absolute;
    top: 75%;
    left: 25%;
    margin-top: 25px;
}

.info-wind-feel {
    margin-top: 25px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info-case {
    height: 100%;
    width: 300px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.25);
}

.container-wind-label {
    display: flex;
    align-items:center;
    justify-content: center;
}

.info-case img {
    height: 50px;
    width: auto;
}

.wind-info {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    border-bottom-style:groove;
}

.feel-like-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.week-prediction {
    margin-top: 25px;
    width: 610px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.25);
    align-self: center;
}

.day {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.day img {
    height: 40px;
    width: auto;
    align-self: center;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: rgb(240, 7, 104);
  --mdc-linear-progress-track-color: lightgray;
}
.custom-progress {
  width: 150px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}